services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - 83:80
        env_file:
            - .env
        volumes:
            - ".:/var/www/html"
            - ./public/assets/img:/var/www/html/public/assets/img
